*.csv
*.xlsx
*.xlsm
*.json
*.pickle
*.pkl
*.pt
*.npy
*.zip
*.db
*.faiss
*.tar
*.gz
*.h5
*.onnx
*.sav
*.joblib
*.txt
*.data
*.jpg
*.xml
*.pdf
*.pptx
*.docx
**/.DS_Store
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
**/.cache/
**/data/
**/logs/
/finance/
**/checkpoint-*/
**/*wandb*/
**/venv/
**/.venv/
*.env
